*{
    padding: 0;
}
/*---------------------------------------------------------Home_page--------------------------------------------------------------------------------------*/

/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 2rem;
}

/* About */

#intro h2{
    font-size: 1.5rem;
}
#avatar{
width: 18rem;
height: auto;
margin: 0 1rem 0 1rem;
}

#intro {
    padding: 0;
    font-size: 1rem;
}
#intro p {
    font-size: 1.3rem;
    padding: 0;
    width: 100%;
    text-align: start;
    margin: 0;
}

/*Portfolió Gallery*/

.gallery{
   padding: 1rem;
}

.image{
    width: 19rem;
    height: 10rem;
}

.info{
    width: 24rem;


}




/*---------Service------------------------*/


.rowCard {
    width: 28rem;
    height: auto;
    padding-top: .4rem;
    margin: 3.5rem 2rem 0 2rem;
   
}

/*---------------------Contact-----------------------*/

.form{
    width: 100%;
}
#contact{
    padding: 0 .5rem 0 1rem;
}

.input{
    width: 80%;   
}
#msg{
    width: 70%;
}
#send{
    width:auto;
}

/*-----------------------Footer------------------*/

#footerBox{
    flex-direction: column;
}

.logoBox{
    order: 2;
    width: 100%;
    align-items: center;
    padding-left:0;
}
.socialBox{
    width: 100%;
}

.socialIcon{
    justify-content: space-evenly;
    width: 90%;
}
.socialIcon .fa{
    font-size: 2rem;
}

.textBox{
    width: 100%;
    align-items: center;
    padding-right:0;
}
#cpoyArea {
    padding-top: 2rem;
}


/*------- Alapcsomag, Közepes csomag, Nagy csomag, Extra csomag------------------------ */





/*------------------Sütik (cookie) kezelése------------------------------*/


.pageTitle{
    width: 75%;
    text-shadow: 1px 1px 2px black;
}

.pageTitle h3{
    font-size: 2.3rem;
    padding: .1rem;

}

.Paragraph{
    width: 90%;
    padding: 1rem;;
    margin-bottom: 0;
    font-size: 1.4rem;
    text-align: none;
    text-shadow: 1px 1px 2px black;
    text-align:start;
}


.Paragraph ul{
    font-size: 1.2rem;
    padding: 1.3rem;
    margin-top: .1rem;
}

.Paragraph ul li{
    padding: .1rem;
}

/*------------------Popup---------------------------------------------------------*/

.popup p{
font-size: .8rem;
} 


/*------------------Services Page---------------------------------------------------------*/


.ParagraphExtra{
    width: 300px;
  
    font-family:'Open Sans Condensed', sans-serif;
    padding: 1rem;
}

/*------------------Thankyou Page---------------------------------------------------------*/

#thimg{
    display: none;
}

.text{
    margin-top: -4rem;
}

/*-----------------------Fantasy gallery------------------------------------------------- */

.grid-wrap {
    margin-left: 10px;
    margin-right: 10px ;
  }

h3{
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}
  .pageTitle {
    width: 100%;
    text-align: start;
    margin: 1rem 0 2rem 1rem;
}

.thankyou .text {
    padding: 0rem;
}